<a href="https://colab.research.google.com/github/LuaraEv04/lua.ipynb/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dict = {
    'country' : ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
    'capital' : ['Brasilia' ,'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
    'area' : [8.516, 17.10, 3.286, 9.597, 1.212],
    'population' : [200.4, 143.5, 1252, 1357, 52.98]}

In [ ]:
import pandas as pd

In [ ]:
brics = pd.DataFrame(dict)
brics

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.212       52.98

In [ ]:
brics.index = ['BR', 'RU', 'IN', 'CH', 'SA']
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.212       52.98

In [ ]:
brics2 = pd.read_csv("/content/sample_data/mnist_train_small.csv")
brics2

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19994,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19995,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19996,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19997,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19998,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
brics2 = pd.read_csv("/content/sample_data/mnist_train_small.csv", index_col = 0)
brics2

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
6,,,,,,,,,,,,,,,,,,,,,
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
import pandas as pd
# Pre-defined lists 
names = ["United States", "Australia", "Japan", "India", "Russia", "Marroco", "Egypt"]
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
my_dict = { 
    "country" : names,
    "drives_rigth" : dr,
    "cars_per_cap" : cpc}
cars = pd.DataFrame(my_dict)
cars

         country  drives_rigth  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Marroco          True            70
6          Egypt          True            45

In [ ]:
row_labels = ["US", "AUS", "JPN", "IN", "RU", "MOR", "EG"]
cars.index = row_labels
cars

           country  drives_rigth  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Marroco          True            70
EG           Egypt          True            45

In [ ]:
import pandas as pd
cars = pd.read_csv("/content/cars.csv")
cars

    Unnamed: 0  cars_per_cap        country  drives_right
0  0         US           809  United States     ...
1  1        AUS           731      Australia     ...
2  2        JPN           588          Japan     ...
3  3         IN            18          India     ...
4  4         RU           200         Russia     ...
5  5        MOR            70        Morocco     ...
6  6         EG            45          Egypt     ...

In [ ]:
cars = pd.read_csv("/content/cars.csv", index_col = 0)
cars

Empty DataFrame
Columns: []
Index: [0         US           809  United States          True, 1        AUS           731      Australia         False, 2        JPN           588          Japan         False, 3         IN            18          India         False, 4         RU           200         Russia          True, 5        MOR            70        Morocco          True, 6         EG            45          Egypt          True]

In [ ]:
# com apenas um conchete a última linha permanece
# utilizar o brics para acessar determinada"s" coluna"s"
brics["country"]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [ ]:
# com dois conchetes automaticamente apaga a última linha
brics[["country"]]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [ ]:
type(brics["country"])

pandas.core.series.Series

In [ ]:
brics[["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [ ]:
# acessar linhas 
brics[1:4]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
# .loc pega apenas a determinada linha do país
brics.loc["RU"]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [ ]:
brics.loc[["RU", "IN", "CH"]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [ ]:
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [ ]:
brics.loc[["BR"], ["capital"]]

     capital
BR  Brasilia

In [ ]:
brics.loc[["RU"]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [ ]:
brics.iloc[[1]]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [ ]:
brics.iloc[[1, 2, 3]]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0